[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
scikit-learn = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
